.container-body {
  padding: 30px 30px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  margin: 30px 0;
  text-align: center;
}

h2 {
  display: block;
  margin: 30px 0;
  background: #5889ce;
  color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  padding: 40px 5px;
}

footer {
  margin: 40px 0 10px 0;
  text-align: center;
  font-weight: bold;
}

#weather-description {
  font-size: 24px;
  text-transform: capitalize;
}

.main-temperature {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.weather-info,
.main-city {
  font-family: "Inter", sans-serif;
}

.main-city {
  font-weight: bolder;
}

.weather-info {
  font-size: smaller;
  line-height: 2.2;
}

.main-weather-icon {
  font-size: 60px;
}

.upcoming-days {
  text-align: center;
}

.day-name {
  font-size: 20px;
  font-weight: bold;
  color: #183052;
}

.next-days-icon {
  color: #183052;
  font-size: 25px;
}

.days {
  margin-bottom: 20px;
}

.last-update {
  text-align: right;
  margin-right: 30px;
  font-size: 12px;
}

#date-time {
  font-size: 20px;
}
